[Unit]
Description=Start doorbell button service
After=local-fs.target network-online.target mnt-doorbell.mount

[Service]
ExecStart=/usr/bin/python3 /home/benr/doorbell/ding-dong.py
EnvironmentFile=/etc/doorbell/doorbell-button.conf

[Install]
WantedBy=multi-user.target